fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
numpy==1.26.4
scipy
sounddevice
soundfile
edge-tts
opencv-contrib-python==4.11.0.86
mediapipe==0.10.21
SpeechRecognition
openai
httpx
pyttsx3
pytest
